In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv("data/raw_listings.csv")

In [7]:
df.head(10)

,Location,Property_Type,Bedrooms,Bathrooms,Size_SQM,Amenities,Price_KES,Listing_Type,Listing_Date
0,Acacia,House,1,1,0,"Security, Parking",15000000,For Sale,2025-12-06
1,South B,Apartment,0,1,35,"Security, Parking",0,For Sale,2025-12-27
2,Kizingoni Beach,House,5,5,0,"Security, Parking",0,For Sale,2026-01-24
3,Fourways Junction Estate,Apartment,3,2,120,"Security, Parking",70000,For Rent,2026-01-29
4,A 70,Townhouse,5,5,0,"Security, Parking",68000000,For Sale,2025-12-03
5,Parklands,Apartment,0,1,35,"Security, Parking",0,For Sale,2025-12-25
6,Runda,Townhouse,4,4,0,"Security, Parking",29500000,For Sale,2025-11-28
7,Kileleshwa,Townhouse,5,5,0,"Security, Parking",350000000,For Sale,2026-02-03
8,Tinderet Ave. Off Gatundu Rd,Apartment,3,4,3,"Security, Parking",85000,For Rent,2026-01-16
9,Rhapta road,Apartment,2,2,2,"Security, Parking",59000,For Rent,2026-01-01

In [8]:
df.tail()

,Location,Property_Type,Bedrooms,Bathrooms,Size_SQM,Amenities,Price_KES,Listing_Type,Listing_Date
4729,Othaya Road,Apartment,3,5,3,"Security, Parking",140000,For Rent,2026-01-28
4730,Gigiri,Apartment,0,1,35,"Security, Parking",0,For Rent,2026-01-17
4731,Kamiti Road,Apartment,2,2,95,"Security, Parking",45000,For Rent,2025-12-28
4732,Lavington,Apartment,2,2,110,"Security, Parking",90000,For Rent,2026-01-26
4733,Ridgeways,Apartment,0,1,35,"Security, Parking",0,For Rent,2026-02-02

In [9]:
df.shape

(4734, 9)

In [10]:
df.columns

Index(['Location', 'Property_Type', 'Bedrooms', 'Bathrooms', 'Size_SQM',
       'Amenities', 'Price_KES', 'Listing_Type', 'Listing_Date'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4734 entries, 0 to 4733
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       4728 non-null   object
 1   Property_Type  4734 non-null   object
 2   Bedrooms       4734 non-null   int64
 3   Bathrooms      4734 non-null   int64
 4   Size_SQM       4734 non-null   int64
 5   Amenities      4734 non-null   object
 6   Price_KES      4734 non-null   int64
 7   Listing_Type   4734 non-null   object
 8   Listing_Date   4734 non-null   object
dtypes: int64(4), object(5)
memory usage: 333.0+ KB

In [12]:
df.describe()

          Bedrooms    Bathrooms      Size_SQM     Price_KES
count  4734.000000  4734.000000   4734.000000  4.734000e+03
mean      2.668990     2.883608    134.756865  2.385658e+07
std       1.776095     1.515806   1288.458483  5.331933e+07
min       0.000000     1.000000      0.000000  0.000000e+00
25%       1.000000     1.000000      0.000000  4.000000e+04
50%       3.000000     3.000000      2.000000  1.200000e+05
75%       4.000000     4.000000     35.000000  2.500000e+07
max      10.000000    10.000000  40470.000000  6.840000e+08

In [13]:
df.isnull().sum()

Location         6
Property_Type    0
Bedrooms         0
Bathrooms        0
Size_SQM         0
Amenities        0
Price_KES        0
Listing_Type     0
Listing_Date     0
dtype: int64

##### Removing Duplicates

In [15]:
df = df.drop_duplicates()
print(f"\nAfter removing duplicates: {len(df)} rows")

After removing duplicates: 4639 rows

##### Filling missing locations

In [17]:
df['Location'].fillna('Nairobi', inplace=True)